html {
	background-color: white;
	font-family: 'Comic Sans MS';
	font-size: 14px;
	
}

body {
	background: white;
	
}

#content {
	
	/*
	background: #FFFF88;
	box-shadow: -4px 4px rgba(0,0,0,0.24);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	*/
	
	width: 350px;
	height: 140%;
	
	position: absolute;
	margin-top: 120%;
	margin-bottom: 20px;
	
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
	
}

#wishlist {
	display: none;
	width: 300px;
}

#loadingtext {
	position: absolute;
  top: 15%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

#loading {
	position: absolute;
  top: 30%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

#topdiv {
}

#bottomdiv {
}

.item {
	margin: 0px 0px 10px 0px;
}

#header {
	/*padding-top: 20px;*/
	margin-left: 15px;
	
	display: inline-block;
}

#generatebutton {
	/*margin-top: 20%;*/
	
	margin-left: 30%;
	
	background: #FBF599;
	
	border: solid #FBF599 2px;
	box-shadow: 0 1px 3px #666666;
	
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	
	padding: 5px 10px 5px 10px;
	text-decoration: none;
	
	font-family: 'Comic Sans MS';
	font-size: 14px;
	
	outline: none;
}

#generatebutton:active {
	background: #FAE599;
}

.box {
	box-sizing: border-box;
  width: 50%;
  display: inline;
	/*float: left;*/
}

li {
	margin-bottom: 10px;
}